body{
    font-family: Arial, Helvetica, sans-serif;
}
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content:start;
    height: 60px;
    padding: 20px;
    background: #6fc4b8 ;
    display: grid;
    grid-template-columns: 5% 80% 5%;
}
.nav-brand{
    width: 60px;
    border-radius: 5px;
}
.fUser{
    width:60px;
    border-radius: 25px;
}

.datos{
    display: flex;
    justify-content:space-evenly;
    margin-top: 50px;   
}
.cComprador{
    background-color: #abdfd8; /* darkturquoise;*/
    width: 30%; height: 25%;
    border-radius: 25px;
}
.fComprador{
    border-top-left-radius: 25px; 
    border-top-right-radius: 25px; 
    width: 100%;
}
.cPedido{
    background-color: aquamarine;
    width: 30%; height: 25%;
    border-radius: 25px;
}

.producto{
    display: flex;
    width: 100%;
    height: 10%;
}

.fproducto{
    border-radius: 15px;
    width: 100px;
    margin-right: 20px;
}

.botonera{
    display: grid;
    justify-content: center;
    align-items: center;
}

.botonV1{
    background-color: #CBFAF4 ;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: #CBFAF4;

}
.botonV1:hover{
    background-color: #62bdb1 ;
    width: 110px;
    height: 60px;
}
.lspedidos{
    display: grid;
    justify-content: center;
}

.pedido{
    background-color: #abdfd8;
    margin: 10px;
    display: grid;
    grid-template-columns: 200px 400px 200px ;
    width: 800px; height: 220px;
    border-radius: 25px;
    text-align: justify;
}

.fComprador2{
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px; 
    width: 220px;
}

.botonV2{
    background-color: #CBFAF4 ;
    width: 200px;
    height: 220px;
    border-top-right-radius: 25px; 
    border-bottom-right-radius: 25px; 
    border: #CBFAF4;
}
.botonV2:hover{
    background-color: #62bdb1 ;
}


/* ---  Responsive   */

@media (max-width: 950px) {
    .datos{
        display: block;
    }    
    .cComprador{
        display: grid; justify-content: center;
        width: 80%; height: 15%; margin: 10%;
    }
    .cPedido{
        width: 80%; height: 15%; margin: 10%;
    }
}
